<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inmuebles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inmuebles</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let i of inmoService.properties">
        <ion-avatar slot="start">
          <img src="../../assets/images/{{i.image}}">
        </ion-avatar>
        <div>
          <p>{{i.property}}</p>
          <p>{{i.price}}€</p>
          <p>{{i.bedrooms}} baños</p>
          <p>{{i.sqm}} m2</p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
